/* Last upated 2014-05-08.17:33 */
/* Last upated 2014-05-14.13:10 */
@charset "utf-8";
/* CSS Document */


input,select,textarea {
  margin: 0; 

}

fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}


input[type="radio"],
input[type="checkbox"] {
  margin: 2px 0 0;
  margin-top: 3px \9;
  /* IE8-9 */

  line-height: normal;
}

input[type="file"] {
  display: block;


}

select[multiple],
select[size] {
  height: auto;
}

select optgroup {
  font-family: inherit;

}




input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

.form-control:-moz-placeholder {
  color: #333;
}

.form-control::-moz-placeholder {
  color: #333;
}

.form-control:-ms-input-placeholder {
  color: #333;
}

.form-control::-webkit-input-placeholder {
  color: #333;
}

.form-control {
  /*display: block;*/
  width: 100%;
  height:24px;
  padding: 3px 6px;
  line-height: 1.428571429;
  color: #000;
  font-size:12px;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #bcbfc0;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #ffffff;
  color:#000;
  font-size:12px;
  height: 24px;
}

.form-control-barcode {
  /*display: block;*/
 width: 100%;
  height:23px;
  padding-left:5px;
  line-height: 1.428571429;
  color: #999;
  font-size:12px;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #fff;
  border-radius: 4px;

}

.form-control-barcode:focus {
  outline: 0;
}

.form-control-login {
  /*display: block;*/
  width: 100%;
  height:24px;
  padding: 3px 6px;
  line-height: 1.428571429;
  color: #000;
  font-size:.9em;
  vertical-align: middle;
  background-color: #ffffff;
  border: 0px;
  border-radius:8px;
}

.form-control-login:focus {
  outline: 0;
  border-color: #fff;

}

.form-control-user {
  /*display: block;*/
  width:100%;
  height:32px;
  padding:0px 0px  2px  2px;
  line-height: 1.428571429;
  color: #fff;
  font-size:.9em;
  vertical-align: middle;
  background-color:#148ec2;
  border: 0px solid #cccccc;
}

.form-control-user:focus {
  outline: 0;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.radio,
.checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm {
  height: auto;
}

.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

select.input-lg {
  height: 45px;
  line-height: 45px;
}

textarea.input-lg {
  height: auto;
}

.has-warning .help-block,
.has-warning .control-label {
  color: #c09853;
}

.has-warning .form-control {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.has-warning .input-group-addon {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.has-error .help-block,
.has-error .control-label {
  color: #b94a48;
}

.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.has-error .input-group-addon {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.has-success .help-block,
.has-success .control-label {
  color: #468847;
}

.has-success .form-control {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.has-success .input-group-addon {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

.form-control-static {
  padding-top: 7px;
  margin-bottom: 0;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}

.form-horizontal .form-group:after {
  clear: both;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}

.form-horizontal .form-group:after {
  clear: both;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label:empty {
  display: none;
}

.label-default {
  background-color: #999999;
}


/*button-button-button-button-button-button-buttonbutton-button-button-button-button-button-button-*/
 .btn{
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

 .btn_cir {
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius:12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

 .btn_r {
  display: inline-block;
  margin-bottom: 0;
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 0px solid transparent;
  height:53px;
  width:48px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.btn_r4 {
  display: inline-block;
  margin-bottom: 0;
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align:top;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius:4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn_r8 {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius:4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}


.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {

  cursor: not-allowed;
  filter: alpha(opacity=75);
  -webkit-box-shadow: none;
          box-shadow: none;
}

 .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc; 
  width:100% 

}

 .btn-left {
  background:#616573;
  color:#ffffff;
  height:18px;
  vertical-align:middle;
  font-size:.8em
}

.btn-left:hover,
.btn-left:focus,
.btn-left:active,
.btn-left.active,
.open .dropdown-toggle.btn-search01 {
  background:#f2642c;
  color:#ffffff;
  outline: 0;
}

.btn-left:active,
.btn-left.active,
.open .dropdown-toggle.btn-search01 {
  background:#f2642c;
  color:#ffffff;
  outline: 0;
}

 .btn-searcher {
  background:#15a4fa;
  color:#ffffff;
  height:22px;
  padding-bottom:4px;
  vertical-align:middle;
  font-size:.9em
}

.btn-searcher:hover,
.btn-searcher:focus,
.btn-searcher:active,
.btn-searcher.active,
.open .dropdown-toggle.btn-search01 {
  background:#1899e6;
  color:#ffffff;
  outline: 0;
}

.btn-searcher:active,
.btn-searcher.active,
.open .dropdown-toggle.btn-search01 {
  background:#1899e6;
  color:#ffffff;
  outline: 0;
}

.btn-searcher.disabled,
.btn-searcher[disabled],
fieldset[disabled] .btn-searcher,
.btn-searcher.disabled:hover,
.btn-searcher[disabled]:hover,
fieldset[disabled] .btn-searcher:hover,
.btn-searcher.disabled:focus,
.btn-searcher[disabled]:focus,
fieldset[disabled] .btn-searcher:focus,
.btn-searcher.disabled:active,
.btn-searcher[disabled]:active,
fieldset[disabled] .btn-searcher:active,
.btn-searcher.disabled.active,
.btn-searcher[disabled].active,
fieldset[disabled] .btn-searcher.active {
  background:#1899e6;
  color:#ffffff;


}


.btn-search02{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width:100%;
  cursor: pointer;
background-color:#262935;
  outline: 0;
  border:0px

}
.btn-search02:hover,
.btn-search02:focus,
.btn-search02:active,
.btn-search02.active,
.open .dropdown-toggle.btn-search02{
  background:#1c3f63;
  outline: 0;
}

.btn-search02:active,
.btn-search02.active,
.open .dropdown-toggle.btn-search02 {
  background:#1c3f63;
  color:#ffffff;
  outline: 0;
}



.btn-03 {
  background:#737f8d;
  color:#ffffff;
  height:auto;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding-bottom:3px
}

.btn-03:hover,
.btn-03:focus,
.btn-03:active,
.open .dropdown-toggle.btn-03 {
  background:#e84b14;
  color:#ffffff;
  outline: 0;
  
}


.btn-03.disabled,
.btn-03[disabled],
fieldset[disabled] .btn-03,
.btn-03.disabled:hover,
.btn-03[disabled]:hover,
fieldset[disabled] .btn-03:hover,
.btn-03.disabled:focus,
.btn-03[disabled]:focus,
fieldset[disabled] .btn-03:focus,
.btn-03.disabled:active,
.btn-03[disabled]:active,
fieldset[disabled] .btn-03:active,
.btn-03.disabled.active,
.btn-03[disabled].active,
fieldset[disabled] .btn-03.active {
  background:#1899e6;
  color:#ffffff;


}






.btn-submit {
  color: #ffffff;
  background-color: #35506f;
  border-color: #334c6a;
  font-size:.9em

}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.btn-submit.active,
.open .dropdown-toggle.btn-submit {
  color: #ffffff;
  background-color: #283a4e;
  border-color: #283a4e;

}


.btn-submit.disabled,
.btn-submit[disabled],
fieldset[disabled] .btn-submit,
.btn-submit.disabled:hover,
.btn-submit[disabled]:hover,
fieldset[disabled] .btn-submit:hover,
.btn-submit.disabled:focus,
.btn-submit[disabled]:focus,
fieldset[disabled] .btn-submit:focus,
.btn-submit.disabled:active,
.btn-submit[disabled]:active,
fieldset[disabled] .btn-submit:active,
.btn-submit.disabled.active,
.btn-submit[disabled].active,
fieldset[disabled] .btn-submit.active {
  background-color: #e1e1e1;
  border-color: #c3c4c4;
  color:#ababab
}

.btn-submit01 {
  color: #285e8e;
  background-color: #005d9f;

}

.btn-submit01:hover,
.btn-submit01:focus,
.btn-submit01:active,
.btn-submit01.active,
.open .dropdown-toggle.btn-submit {
  color: #285e8e;
  background-color: #024a7c;
}


.btn-reg {
	color: #444;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.btn-reg:hover,
.btn-reg:focus{
	background: #ededed;
	font-weight:bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.btn-reg:active,
.btn-reg.active{
	color: #666;
	font-weight:bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.btn-reg.disabled,
.btn-reg[disabled],
fieldset[disabled] .btn-reg,
.btn-reg.disabled:hover,
.btn-reg[disabled]:hover,
fieldset[disabled] .btn-reg:hover,
.btn-reg.disabled:focus,
.btn-reg[disabled]:focus,
fieldset[disabled] .btn-reg:focus,
.btn-reg.disabled:active,
.btn-reg[disabled]:active,
fieldset[disabled] .btn-reg:active,
.btn-reg.disabled.active,
.btn-reg[disabled].active,
fieldset[disabled] .btn-reg.active {
  color: #666;
  cursor: not-allowed;
  opacity: 0.455;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}


 .btn-close {
  color: #ffffff;
  background-color: #ff3464;
  border-color: #b62648;


}

.btn-close:hover,
.btn-close:focus,
.btn-close:active,
.btn-close.active,
.open .dropdown-toggle.btn-close {
  color: #ffffff;
  background-color: #ff3464;
  border-color: #b62648;

}

.btn-close:active,
.btn-close.active,
.open .dropdown-toggle.btn-close {
  color: #ffffff;
  background-color: #ff3464;
  border-color: #b62648;

}

.btn-close.disabled,
.btn-close[disabled],
fieldset[disabled] .btn-close,
.btn-close.disabled:hover,
.btn-close[disabled]:hover,
fieldset[disabled] .btn-close:hover,
.btn-close.disabled:focus,
.btn-close[disabled]:focus,
fieldset[disabled] .btn-close:focus,
.btn-close.disabled:active,
.btn-close[disabled]:active,
fieldset[disabled] .btn-close:active,
.btn-close.disabled.active,
.btn-close[disabled].active,
fieldset[disabled] .btn-close.active {
  color: #ffffff;
  background-color: #ff3464;
  border-color: #d13459;

}



.btn-lg {
  font-size: 1em;
  height:36px;
  padding:0px 10px;
  margin:6px 3px;
  font-weight:bold
}

.btn-sm {
  height:36px;
  padding:0px 10px;
  margin:3px 0px;
  font-weight:bold
}
.btn-xs {
  padding-top:3px;
  padding-bottom:8px;
  line-height:0px;
  font-size:0.8em
}


.btn_searcher {
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  height:28px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius:6px;
  width:100%;
  -webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	   -o-user-select: none;
		  user-select: none;
}
.btn-search {
  color: #ffffff;
  background-color: #237ded;
  border-color: #2a4b74;
  font-weight:bold
}

.btn-search:hover,
.btn-search:focus,
.btn-search:active,
.btn-search.active,
.open .dropdown-toggle.btn-search {
  color: #ffffff;
  background-color: #38649a;
  border-color: #2a4b74;
}

.btn-search:active,
.btn-search.active,
.open .dropdown-toggle.btn-search {
  background-image: none;
}

.btn-search.disabled,
.btn-search[disabled],
fieldset[disabled] .btn-search,
.btn-search.disabled:hover,
.btn-search[disabled]:hover,
fieldset[disabled] .btn-search:hover,
.btn-search.disabled:focus,
.btn-search[disabled]:focus,
fieldset[disabled] .btn-search:focus,
.btn-search.disabled:active,
.btn-search[disabled]:active,
fieldset[disabled] .btn-search:active,
.btn-search.disabled.active,
.btn-search[disabled].active,
fieldset[disabled] .btn-search.active {
  background-color: #38649a;
  border-color: #2a4b74;
}

.btn_logouter {
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  height:65px;
  width:52px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius:0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.btn-logout {
background: rgb(40,40,40); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(40,40,40,1) 0%, rgba(46,46,46,1) 12%, rgba(53,53,53,1) 25%, rgba(37,37,37,1) 39%, rgba(23,23,23,1) 50%, rgba(0,0,0,1) 51%, rgba(9,9,9,1) 60%, rgba(22,22,22,1) 76%, rgba(15,15,15,1) 91%, rgba(10,10,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,40,40,1)), color-stop(12%,rgba(46,46,46,1)), color-stop(25%,rgba(53,53,53,1)), color-stop(39%,rgba(37,37,37,1)), color-stop(50%,rgba(23,23,23,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(9,9,9,1)), color-stop(76%,rgba(22,22,22,1)), color-stop(91%,rgba(15,15,15,1)), color-stop(100%,rgba(10,10,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(40,40,40,1) 0%,rgba(46,46,46,1) 12%,rgba(53,53,53,1) 25%,rgba(37,37,37,1) 39%,rgba(23,23,23,1) 50%,rgba(0,0,0,1) 51%,rgba(9,9,9,1) 60%,rgba(22,22,22,1) 76%,rgba(15,15,15,1) 91%,rgba(10,10,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(40,40,40,1) 0%,rgba(46,46,46,1) 12%,rgba(53,53,53,1) 25%,rgba(37,37,37,1) 39%,rgba(23,23,23,1) 50%,rgba(0,0,0,1) 51%,rgba(9,9,9,1) 60%,rgba(22,22,22,1) 76%,rgba(15,15,15,1) 91%,rgba(10,10,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(40,40,40,1) 0%,rgba(46,46,46,1) 12%,rgba(53,53,53,1) 25%,rgba(37,37,37,1) 39%,rgba(23,23,23,1) 50%,rgba(0,0,0,1) 51%,rgba(9,9,9,1) 60%,rgba(22,22,22,1) 76%,rgba(15,15,15,1) 91%,rgba(10,10,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(40,40,40,1) 0%,rgba(46,46,46,1) 12%,rgba(53,53,53,1) 25%,rgba(37,37,37,1) 39%,rgba(23,23,23,1) 50%,rgba(0,0,0,1) 51%,rgba(9,9,9,1) 60%,rgba(22,22,22,1) 76%,rgba(15,15,15,1) 91%,rgba(10,10,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */


	
}

.btn-logout:hover,
.btn-logout:focus,
.btn-logout:active,
.btn-logout.active,
.open .dropdown-toggle.btn-logout {
 border-color: #000;
  background-color: #181818;
}

.btn-logout:active,
.btn-logout.active,
.open .dropdown-toggle.btn-logout {
  background-image: none;
   border-color: #000;
}

.btn-logout.disabled,
.btn-logout[disabled],
fieldset[disabled] .btn-logout,
.btn-logout.disabled:hover,
.btn-logout[disabled]:hover,
fieldset[disabled] .btn-logout:hover,
.btn-logout.disabled:focus,
.btn-logout[disabled]:focus,
fieldset[disabled] .btn-logout:focus,
.btn-logout.disabled:active,
.btn-logout[disabled]:active,
fieldset[disabled] .btn-logout:active,
.btn-logout.disabled.active,
.btn-logout[disabled].active,
fieldset[disabled] .btn-logout.active {
  background-color: #38649a;
  border-color: #000;
}

.btn-orange {
  color: #ffffff;
  background-color: #e65221;
  border-color: #ce4d23;
  font-weight:bold
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  color: #ffffff;
  background-color: #c9491f;
  border-color: #ce4d23;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #c9491f;
  border-color: #ce4d23;
}


 .btn_menu01 {
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  height:30px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius:6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  -webkit-box-shadow:inset 0 0 1px 2px rgba(255,255,255,0.5);
  box-shadow: inset 0 0 1px 2px rgba(255,255,255,0.5);

}
.btn-menu {
  color: #ffffff;
  background-color: #237ded;
  font-weight:bold
}

.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active,
.btn-menu.active,
.open .dropdown-toggle.btn-menu {
  color: #223242;
  background-color: #FFFFFF;
  border-color: #c9c9c9;


}

.btn-menu:active,
.btn-menu.active,
.open .dropdown-toggle.btn-menu {
  background-image: none;
}

.btn-menu.disabled,
.btn-menu[disabled],
fieldset[disabled] .btn-menu,
.btn-menu.disabled:hover,
.btn-menu[disabled]:hover,
fieldset[disabled] .btn-menu:hover,
.btn-menu.disabled:focus,
.btn-menu[disabled]:focus,
fieldset[disabled] .btn-menu:focus,
.btn-menu.disabled:active,
.btn-menu[disabled]:active,
fieldset[disabled] .btn-menu:active,
.btn-menu.disabled.active,
.btn-menu[disabled].active,
fieldset[disabled] .btn-menu.active {
  background-color: #38649a;
  border-color: #2a4b74;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

.btn-disable {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  color: #ffffff;
  background-color: #EAEAEA;
  border-color: #D5D5D5;
}



.aimicon {
  position: relative;
  top:3px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  
}
.icon-arrow-down{
	background:url('../../../images/LogInViewImages/icons_white.png') -313px -122px;
	width:16px;
    height:13px;
	z-index:30;
  }
  


.icon-arrow-down.bk{
	background:url('../../../images/LogInViewImages/icons.png') -313px -145px;
	width:16px;
	height:13px;
	z-index:30;
}
.icon-arrow-up.bk{
	background:url('../../../images/LogInViewImages/icons.png') -289px -145px;
	width:16px;
	height:13px;
	z-index:30;
}

.icon-exit{
	background:url('../../../images/LogInViewImages/icons_white.png') -460px -74px;
	width:16px;
    height:13px;
	z-index:30;
  }
  
.icon-start{
  background:url('../../../images/LogInViewImages/icons_white.png') -265px -98px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-search{
  background:url('../../../images/LogInViewImages/icons_white.png') -49px -1px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-search.bk{
  background:url('../../../images/LogInViewImages/icons.png') -49px -1px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-delete{
  background:url('../../../images/LogInViewImages/icons_white.png') -458px -1px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-delete .bk{
  background:url('../../../images/LogInViewImages/icons.png') -458px -1px;
  width:16px;
  height:13px;
  z-index:30;
}
.icon-reset{
  background:url('../../../images/LogInViewImages/icons_white.png') -217px -25px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-excel{
  background:url('../../../images/LogInViewImages/icons_white.png') -121px -73px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-excel .bk{
  background:url('../../../images/LogInViewImages/icons.png') -121px -73px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-file.bk{
  background:url('../../../images/LogInViewImages/icons.png') -48px -49px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-pluse{
  background:url('../../../images/LogInViewImages/icons_white.png') -1px -97px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-pluse .bk{
  background:url('../../../images/LogInViewImages/icons.png') -1px -96px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-minus .bk{
  background:url('../../../images/LogInViewImages/icons.png') -25px -96px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-minus{
  background:url('../../../images/LogInViewImages/icons_white.png') -25px -97px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-graph{
  background:url('../../../images/LogInViewImages/icons_white.png') -410px -2px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-help{
  background:url('../../../images/LogInViewImages/icons_white.png') -96px -97px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-download{
  background:url('../../../images/LogInViewImages/icons_white.png') -313px -145px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-carlendar{
  background:url('../../../images/LogInViewImages/icons_white.png') -193px -121px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-only-carlendar{
  background:url('../../../images/LogInViewImages/icons_white.png') -193px -121px;
  width:11px;
  height:13px;
  z-index:30;
}


.icon-autosize{
  background:url('../../../images/LogInViewImages/icons_white.png') -457px -120px;
  width:16px;
  height:13px;
  z-index:30;
}
.icon-autosize .bk{
  background:url('../../../images/LogInViewImages/icons.png') -457px -120px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-autosize.disabled{
  background:url('../../../images/LogInViewImages/icons.png') -457px -120px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-list{
  background:url('../../../images/LogInViewImages/icons_white.png') -360px -50px;
  width:18px;
  height:13px;
  z-index:30;
}

.icon_lankup{
  background:url('../../../images/LogInViewImages/icons_white.png') -144px -24px;
  width:18px;
  height:13px;
  z-index:30;
}

.icon-lankdown{
  background:url('../../../images/LogInViewImages/icons_white.png') -121px -24px;
  width:18px;
  height:18px;
  z-index:30;
}

.icon-bookmark{
  background:url('../../../images/LogInViewImages/icons_white.png') -265px -23px;
  width:18px;
  height:18px;
  z-index:30;
}

.icon-logout{
  background:url('../../../images/LogInViewImages/icons_white.png') -313px 1px;
  width:18px;
  height:18px;
  z-index:30;
}
.icon-forward{
  background:url('../../../images/LogInViewImages/icons_white.png') -337px -97px;
  width:18px;
  height:13px;
  z-index:30;
}

.icon-modify{
  background:url('../../../images/LogInViewImages/icons_white.png') -361px -145px;
  width:18px;
  height:13px;
  z-index:30;
}

.icon-modify.bk{
  background:url('../../../images/LogInViewImages/icons.png') -361px -145px;
  width:18px;
  height:13px;
  z-index:30;
}

.icon-write{
  background:url('../../../images/LogInViewImages/icons_white.png') -1px -73px;
  width:18px;
  height:13px;
  z-index:30;
}

.icon-write.bk{
  background:url('../../../images/LogInViewImages/icons.png') -1px -73px;
  width:18px;
  height:13px;
  z-index:30;
}

.icon-message{
  background:url('../../../images/LogInViewImages/icons_white.png') -240px -120px;
  width:18px;
  height:13px;
  z-index:30;
}

.icon-popup{
  background:url('../../../images/LogInViewImages/icons_white.png') -265px -24px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-print{
  background:url('../../../images/LogInViewImages/icons_white.png') -97px -49px;
  width:18px;
  height:13px;
  z-index:30;
}

.icon-user{
  background:url('../../../images/LogInViewImages/icons_white.png') -169px -1px;
  width:12px;
  height:13px;
  z-index:30;
}

.icon-close{
  background:url('../../../images/LogInViewImages/icons_white.png') -314px -1px;
  width:16px;
  height:13px;
  z-index:30;
}

.icon-save{
  background:url('../../../images/LogInViewImages/icons_white.png') -50px -49px;
  width:16px;
  height:13px;
  z-index:30;
}
.icon-disabled{
  background:url('../../../images/LogInViewImages/icons.png') -314px -1px;
  width:12px;
  height:13px;
  z-index:30;
}

.icon01-mgmt{
  background:url('../../../images/LogInViewImages/mgmt-wh.png') no-repeat 3px 5px ;
  width:48px;
  height:48px;
  z-index:30;
}

.icon-hidden{
  background:url('../../../images/LogInViewImages/icons_white.png') -360px -27px;
  width:14px;
  height:12px;
  z-index:30;
}

.icon-show{
  background:url('../../../images/LogInViewImages/icons_white.png') -385px -27px;
  width:14px;
  height:12px;
  z-index:30;
}

.ch {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0;
  border-radius: 4px;
}

.ch > li {
  display: inline;
  color: #3c3c3c;
}

.ch > li > a,
.ch > li > span {
  position: relative;
  float: left;
  padding: 3px 6px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #3c3c3c;
}

.ch > li:first-child > a,
.ch > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  
}

.ch > li:last-child > a,
.ch > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ch > li > a:hover,
.ch > li > span:hover,
.ch > li > a:focus,
.ch > li > span:focus {
  background-color: #eeeeee;
}

.ch > .active > a,
.ch > .active > span,
.ch > .active > a:hover,
.ch > .active > span:hover,
.ch > .active > a:focus,
.ch > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.ch > .disabled > span,
.ch > .disabled > a,
.ch > .disabled > a:hover,
.ch > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}


